* {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

main {
  margin: 1em 1em;
  padding: 1.2em 1em;
  background-color: #f8bfb0;
  font-size: 2.5em;
  color: white;
  justify-content: center;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  opacity: 0.7;
}

h6 {
  color: dimgrey;
  font-weight: lighter;
}

header {
  margin: 1em 1.3em;
  padding: 1.2em 5em;
  background-color: #b8dcd2;
  font-size: 2em;
  justify-content: center;
}

header > h2 {
  color: white;
}

header > h4 {
  color: dimgrey;
  font-weight: lighter;
  padding-top: 0.3em;
}

.white {
  color: white;
  font-weight: bolder;
}

#menu > li {
  font-size: 0.7em;
  padding-right: 1em;
  padding-top: 1em;
  display: inline-block;
}

#skills {
  padding: 0em 0.2em;
  margin-top: 1em;
  border: 2px solid white;
}

#skills-wrapper > ul > li {
  font-size: 0.75em;
}

#about-wrapper {
  display: grid;
  grid-template-columns: 28% 38% 24%;
  grid-column-gap: 1.4em;
  margin-left: none;
}

#profile-pic {
  margin-top: 2em;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer > #logo {
  grid-column: 2/3;
  justify-content: center;
  width: 30%;
  padding-left: 35%;
  padding-right: 35%;
}

footer > #social {
  color: #b8dcd2;
  text-decoration: none;
  font-size: 3em;
  padding-right: 1em;
}

@media only screen and (max-width: 1000px) {
  header {
    font-size: 1em;
    width: 100%;
    font-size: 1em;
    width: 100%;
    margin-left: 0;
  }

  main {
    display: block;
    font-size: 1em;
    width: 100%;
    margin: auto;
    padding: auto;
  }

  img {
    width: 90%;
  }

  footer {
    font-size: 0.5em;
  }
}


